body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

.kategori-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    width: calc(50% - 20px); /* Adjust according to layout */
}

.book-card img {
    max-width: 100%;
    height: auto;
}

.book-details {
    padding: 10px;
}

.book-details h3 {
    margin-top: 0;
}

.book-details button {
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 100%;
}
