body{
    margin:0 auto;
    color: #ffffff;
    background-color: var(--dark-gray);
}


.grid-atas {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    margin: 1%;
    gap: 1rem;
}

.grid-item_atas{
    padding: 1px;
    align-items: right;
    margin: 0;
    font-size: large;

}

.button {
    margin: 0 15%;
    padding: 0.25rem;
    background-color: var(--yellow);
    color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.button1 {
    margin: 0 15%;
    padding: 0.25rem;
    background-color: var(--blue);
    color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.button a{
    align-items: center;
    color: #ffffff;
    font-weight: 600;
}

.button1 a{
    align-items: center;
    color: #ffffff;
    font-weight: 600;
}

.grid-container{
    background-color: var(--gray);
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50% 50%;
    margin: 1%;
    border-radius: 15px;
    padding: 10px;
}

.grid-item{
    padding: 20px;
    margin: 0;
    font-size: large;
    word-wrap: break-word;
}

.cover img{
    max-width: 100%;
    height: auto;
}

.kanan table{
    padding: 15px;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    border-radius: 15px;
}

