:root {
    --red: #AB290E;
    --yellow: #E59B25;
    --blue: #0087C8;
    --white: #FAFAFA;
    --light-gray: #D9D9D9;
    --gray: #404040;
    --dark-green: #1F2928;
    --dark-gray: #121212;
    --dark-brown: #231E21;
    --black: #000000;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Metropolis", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    & > main {
        flex-grow: 1;
    }

    &.bookshelf-background {
        background: var(--gray) url("./bookshelf-background.webp") no-repeat center center;
        background-size: cover;
    }
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    border: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--blue);
}

.input {
    cursor: text;
    padding: 0.4rem 0.8rem;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    &:focus-within {
        outline: var(--yellow) 0.125rem solid;
    }

    * {
        padding: 0;
        background-color: transparent;
        cursor: text;

        &:focus-within {
            outline: none;
        }
    }
}

select.input {
    /* https://stackoverflow.com/a/71295590 */
    border-right: 0.8rem solid transparent;
    padding-right: 1.2rem;
}

.input__icon {
    width: 1.2rem;
    height: 1.2rem;
}

.btn {
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn--yellow {
    background-color: var(--yellow);
    color: white;
}

.btn--blue {
    background-color: var(--blue);
    color: white;
}

/* header */
header {
    position: sticky;
    top: 0;
}

header nav {
    width: 100%;
    display: flex;
    padding: 0.5em 2rem;
    background-color: var(--black);

    a {
        color: var(--white);
    }
}

.home-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: "Montserrat", "Metropolis", sans-serif;
    font-weight: bold;
}

.spacer {
    flex-grow: 1;
}

.logo {
    width: 3rem;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

.info {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;

    svg {
        float: right;
        height: 1rem;
        cursor: pointer;
    }
}

.info-error {
    background-color: #f8d7da;
    color: var(--red);
    border: 1px solid #f5c6cb;
}

.info-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.page-title {
    padding: 1.5rem 2rem;
    color: var(--white);
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
}

.page-title__title {
    font-size: 2rem;
}

.page-title__content {
    display: flex;
    gap: 1.5rem;
}

.page-section {
    background-color: var(--dark-green);

    &:not(:last-child) {
        &::after {
            content: ' ';
            display: block;
            background-color: var(--dark-gray);
            height: 6rem;
        }
    }
}

.page-section__title {
    min-width: 16rem;
    width: fit-content;
    text-align: center;
    background-color: var(--light-gray);
    color: var(--dark-green);
    padding: 0.5rem 2rem;
    border-bottom-right-radius: 1rem;
}

.page-section__content {
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 3rem;
}

.book-overview {
    display: grid;
    grid-template-columns: 234px 1fr;
    gap: 1.5rem;
    color: var(--white);
}

.book-overview__image {
    width: 234px;
    height: 342px;
    border-radius: 0.5rem;
}

.book-overview__info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.book-overview__title {
    font-size: 2rem;
    font-weight: bold;

    a {
        color: var(--white);
    }
}

.book-overview__rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.book-overview__rating__star__wrapper {
    display: flex;
}

.book-overview__rating__star {
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: 0.2rem;
}

.book-overview__rating__review {
    margin-left: 1rem;
    padding: 0.1rem 0.8rem;
    border-radius: 0.5rem;
    color: var(--white);
    background-color: var(--yellow);
}

.book-overview__table {
    & td:first-child {
        width: 8rem;
    }
}

.book-overview__synopsis {
    text-align: justify;
}

.book-detail__wrapper {
    background-color: var(--dark-gray);
}

.book-detail {
    margin: 0 2rem 1.5rem;
    padding: 2.5rem;
    border-radius: 0.5rem;
    color: var(--white);
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 390px 1fr;
    gap: 2.5rem;
}

.book-detail__image {
    width: 390px;
    height: 570px;
    border-radius: 0.5rem;
}

.book-detail__title {
    font-size: 2rem;
    font-weight: bold;
}

.book-detail__rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.book-detail__synopsis {
    margin: 1.5rem 0;
}

.book-detail__info {
    margin-top: 0.5rem;
}

.book-detail__info__table {
    padding: 1.25rem;
    width: 100%;
    color: var(--black);
    background-color: var(--white);
    border-radius: 0.5rem;

    & td:first-child {
        width: 8rem;
    }
}

.jumbotron {
    text-align: center;
    margin-top: 30vh;
    font-size: 3rem;
    font-weight: bold;
}

/* masuk, daftar */
main.auth {
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        width: 50%;
        background-color: #40404099;
        backdrop-filter: blur(1px);
        text-align: center;
        color: var(--white);
        border-radius: 2rem;
        padding: 2rem 6rem;
        margin: 4rem;
    }

    h1, p, a {
        text-shadow: 0 0 2px var(--black);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    input, button {
        height: 2.4rem;
    }

    button {
        margin: 0 25%;
        padding: 0.25rem 0.5rem;
        background-color: var(--yellow);
        color: var(--white);
        border-radius: 0.5rem;
    }

    h1 {
        margin-bottom: 1.5rem;
    }

    a {
        font-weight: bold;
    }
}
